@import "../libs/bootstrap/bootstrap-grid.min.css";
@import "../libs/montserrat/stylesheet.css";
@import "../libs/PlayfairDisplay/stylesheet.css";
.header {
  padding: 0 0 150px;
  background: url("../images/header/bgc.png") top/cover no-repeat;
}
.header__top {
  padding: 30px 0 20px;
  border-bottom: 1px solid #FFFFFF;
}
.header__top-left {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
.header__top-right {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
.header .row {
  height: 46px;
  width: 100%;
  margin: 0 auto;
}
.header__menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.header__menu-item:last-child {
  border-right: none;
}
.header__menu-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
.header__box {
  display: flex;
  justify-content: center;
  margin-top: 630px;
}
.header__btn1 {
  width: 203px;
  height: 50px;
  background: #99862A;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}
.header__btn2 {
  width: 182px;
  height: 50px;
  background: #99862A;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  margin-left: 30px;
}

.history {
  padding: 100px 0 100px;
  background: #282828;
}
.history .box {
  border: 3px solid #C4C4C4;
}
.history__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  margin: 60px 0 80px;
  position: relative;
}
.history__title:before {
  position: absolute;
  content: "";
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  border: 1px solid #FFFFFF;
}
.history__sub {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  width: 733px;
  margin: 0 auto 50px;
}
.history__img {
  margin-bottom: 60px;
}

.news {
  padding: 80px 0 958px;
  background: #E6E3C4;
}
.news .row {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #998431;
  position: relative;
}
.news .row:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 878px;
  border-top: 1px solid #998431;
  z-index: 3;
}
.news__open {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin: 0 0 30px;
  text-align: start;
}
.news__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
  text-align: center;
  text-decoration: none;
  text-align: start;
  position: relative;
  width: 298px;
  margin-bottom: 60px;
}
.news__title:before {
  position: absolute;
  content: "";
  width: 160px;
  height: 1px;
  border-bottom: 1px solid #282828;
  bottom: -30px;
}
.news__sub {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  text-align: center;
  text-decoration: none;
  margin: 30px 0 30px;
  text-align: start;
  width: 445px;
}
.news__catalog {
  width: 445px;
}
.news__catalog-info {
  height: 76px;
  border-bottom: 1px solid #282828;
}
.news__catalog-info:last-child {
  border-bottom: none;
}
.news__catalog-text {
  padding: 5px 30px 15px;
}
.news__catalog-date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  text-align: center;
  text-decoration: none;
  width: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #282828;
}
.news__catalog_title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #282828;
  text-align: center;
  text-decoration: none;
  text-align: start;
}
.news__catalog_sub {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  text-align: center;
  text-decoration: none;
  text-align: start;
}
.news__btn {
  width: 254px;
  height: 50px;
  background: #998431;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}
.news .col-6-img, .news .col-6 {
  padding: 60px 0 0;
  justify-content: start;
}
.news__img {
  margin: 30px 30px 0 0;
}
.news__img-third {
  margin-top: 30px;
}

.form {
  padding: 129px 0 100px;
  background: #282828;
}
.form__block {
  position: relative;
  border: 2px solid #C4C4C4;
  width: 100%;
}
.form__title-block {
  position: absolute;
  content: " ";
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  height: 74px;
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__title-block:before {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 118px;
  height: 1px;
  background: #FFFFFF;
}
.form__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
.form__left-img {
  position: absolute;
  top: -69px;
  left: -30px;
}
.form__right-img {
  position: absolute;
  top: -65px;
  right: -53px;
}
.form__sub {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  margin: 105px auto 81px;
  width: 539px;
}
.form__info {
  margin: 0 auto;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form__info-input {
  width: 255px;
  height: 30px;
  background: #282828;
  color: white;
  border: none;
  outline: none;
  margin-bottom: 50px;
  border-bottom: 1px solid #FFFFFF;
}
.form__info-input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-align: start;
}
.form__info-input-last {
  width: 540px;
}
.form__info-btn {
  width: 541px;
  height: 50px;
  background: #282828;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border: 1px solid #FFFFFF;
  margin-bottom: 80px;
}

.footer {
  padding: 50px 0 50px;
  background: #998431;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1110px;
  margin: 0 auto;
}