@mixin btn($w, $bg){
  width: $w;
  height: 50px;
  background: $bg;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}